# Prometheus Kebo Config
global:
  scrape_interval: {{getv "/prometheus/scrape/interval"}}
  evaluation_interval: {{getv "/prometheus/evaluation/interval"}}
  scrape_timeout: {{getv "/prometheus/scrape/timeout"}}

  external_labels:
    monitor: kebo

rule_files:
- "recording.rules"
- "alerting.rules"

scrape_configs:

- job_name: prometheus
  static_configs:
  - targets:
    - localhost:9090

- job_name: zeus
  static_configs:
  - targets:
    - zeus.kebo.io:9100

- job_name: hera
  static_configs:
  - targets:
    - hera.kebo.io:9100

- job_name: blackbox

  scrape_interval: {{getv "/prometheus/targets/scrape/interval"}}
  metrics_path: /probe
  params:
    module: [http_2xx] # Look for a HTTP 200 response.
  static_configs:
  - targets:
    # Targets to probe
    {{range getvs "/prometheus/targets/*"}}
     - {{.}}{{end}}
  relabel_configs:
    - source_labels: [__address__]
      target_label: __param_target
    - source_labels: [__param_target]
      target_label: instance
    - target_label: __address__
      replacement: blackbox:9115  # Blackbox exporter.

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
      - "alertmanager:9093"